<div>
  <h1>Меня трудно найти, легко потерять и невозможно забыть ;)</h1>

  <img src="lol.jpg" height='478' with='386'>

  <h1> P.S. Вася из контакта.</h1>
</div>

<div>
  <a href="lol.html">О себе</a>
  <br>
  <a href="skills.html">Навыки</a>
  <br>
  <a href="instaminions.jpg">В соц сетях</a>
</div>

<br>
