<div>
  <h1>Меня трудно найти, легко потерять и невозможно забыть ;)</h1>

  <img src="lol.jpg" height='478' with='386'>

  <h1> P.S. Вася из контакта.</h1>
</div>

<div>
  <h3>О себе</h3>
  <p>Люблю бананы</p>
  <img src="http://vignette2.wikia.nocookie.net/despicableme/images/6/69/%D0%A1%D1%82%D1%8E%D0%B0%D1%80%D1%82_%D1%81_%D0%B1%D0%B0%D0%BD%D0%B0%D0%BD%D0%B0%D0%BC%D0%B8.jpg/revision/latest/scale-to-width-down/250?cb=20150613100751&path-prefix=ru" height='250' with='244'>
  <p>Снялся в обеях частях "Гадкий Я"</p>
</div>

<div>
  <h3>Навыки</h3>
  <ul>
    <li>Отлично играю в видео игры</li>
    <li>Быстро поедаю бананы</li>
  </ul>

  <h3>В соц сетях</h3>
  <a href="https://vk.com/id44186604">
    <img src="http://minionsfilm.ru/wp-content/uploads/2015/07/instaminions.jpg" height='478' with='386'>
  </a>
</div>

<br>
